{% extends "base.html" %}

{% load static %}

{% block title %}Admin Aula 286{% endblock %}

{% block extra_css %}{% endblock %}

{% block page_header %}Ver grupo{% endblock %}

{% block breadcrumbs %}
    <li><span><a href="{% url "users:group_list" %}">Grupos</a></span></li>
    <li><span>Eliminar</span></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <section class="card">
                <div class="card-body">
                    <div class="form-horizontal form-bordered">
                        <div class="form-group row pb-4">
                            <h3 class="text-lg-center">¿Estás seguro de eliminar el siguiente grupo?</h3>
                        </div>
                        <div class="form-group row pb-4">
                            <label class="col-lg-4 control-label text-lg-end pt-2">Nombre</label>
                            <label class="col-lg-8 control-label pt-2">{{ group.name }}</label>
                        </div>
                        <div class="form-group row pb-4">
                            {% for block in perms_by_model %}
                                <div class="col-md-6 col-sm-12 col-lg-4">
                                    <div class="form-group row pb-2">
                                        <label class="col-sm-4 control-label text-sm-end pt-2">
                                            {{ block.model_label }}
                                        </label>
                                        <div class="col-sm-8">
                                            {% for it in block.items %}
                                                <div class="d-flex justify-content-between align-items-center border-bottom py-1">
                                                    <label class="mb-0">{{ it.label }}</label>
                                                    <label class="mb-0">
                                                        {% if it.id in selected_perm_ids %}
                                                            Sí
                                                        {% else %}
                                                            No
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                            <label class="error" for="permissions"></label>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <form method="post" action="{% url 'users:group_delete' group.id %}">
                            {% csrf_token %}
                            <a class="btn btn-danger mb-2" href="{% url 'users:group_list' %}" >No</a>
                            <button class="btn btn-primary mb-2" type="submit">Sí</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'administration/vendor/autosize/autosize.js' %}" defer></script>
{% endblock %}
